<h1>{{ site.title }}</h1>
<aside>
	<div class="container">
		<nav>
			<ul>
			{% assign nav_dropdowns = site.pages | group_by:"nav-parent" %}
			{% for page in site.pages %}
			{% if page.nav-parent == nil %}
				{% if page.title or page.nav-title %}
				<div>
				<li><a href="{{ page.url | prepend: site.baseurl }}">
					{% if page.nav-title %}{{ page.nav-title }}{% else %}{{ page.title }}{% endif %}
				</a></li>
				<ul class="nav_dropdown">
				{% for _group in nav_dropdowns %}{% if _group.name == page.title %}
					{% for dropdown_item in _group.items %}
					<li><a href="{{ dropdown_item.url | prepend: site.baseurl }}">
						{% if dropdown_item.nav-title %}{{ dropdown_item.nav-title }}{% else %}{{ dropdown_item.title }}{% endif %}
					</a></li>
					{% endfor %}
				{% endif %} {% endfor %}
				</ul>
				</div>
				{% endif %}
			{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>
<script type="text/javascript">setup_sticky_nav();</script>
<description>
<header>
	<h3>{{ page.header-text }}</h3>
</header>
</description>