<h1 class="container">{{ site.title }}</h1>
<aside>
	<div class="container">
		<nav>
			<ul>
			{% assign nav_dropdowns = site.pages | group_by:"nav-parent" %}
			{% for page in site.pages %}
			{% if page.nav-parent == nil %}
				{% if page.title or page.nav-title %}
				<span class="dropdown-container">
				<li><a href="{{ page.url | prepend: site.baseurl }}">
					{% if page.nav-title %}{{ page.nav-title }}{% else %}{{ page.title }}{% endif %}
				</a>
				{% for _group in nav_dropdowns %}{% if _group.name == page.title %}
					<ul>
					{% for dropdown_item in _group.items %}
						<li><a href="{{ dropdown_item.url | prepend: site.baseurl }}">
							{% if dropdown_item.nav-title %}{{ dropdown_item.nav-title }}{% else %}{{ dropdown_item.title }}{% endif %}
						</a></li>
					{% endfor %}
					</ul>
				{% endif %} {% endfor %}
				</li>
				</span>
				{% endif %}
			{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
		</nav>
	</div>
</aside>
<script type="text/javascript">setup_sticky_nav();</script>
