body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	padding: 15px;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
content {
	position: absolute;
	width: 100%;
	display: block;
}
description {
	//text-align: center;
	//margin: 50px 0 0;
	//display: flex;
	//justify-content: center;
	//align-items: center;
	background: $header;
	width: 100%;
	display: block;
	padding: 10px;
	color: $light;
	h3 {
		margin: 0;
		color: inherit;
	}
	//left: 0;
}
main {
	padding: 0 15px;
	margin: 0 auto;
	align-items: center;
	display: block;
	width: 100%;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 15px;
}

#nav-container {
	height: 50px;
	position: relative;
	//top: 0;
	//left: 0;
	background: #FFF;
	width: 100%;
	z-index: 2;
	border: 1px solid $light;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		z-index: inherit;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			display:block;
			z-index: inherit;
			.dropdown-container {
				background-color: #FFF;
				float: left;
				z-index: inherit;
				//position: relative;
				//border: 1px solid black;
			}
			li {
				background: #fff;
				float: left;
				z-index: inherit;
				//position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					z-index: inherit;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
				ul {
					display: none;
					//border: 1px solid black;
					margin: 0px;
					width: 100%;
					z-index: inherit;
					li {
						float: none;
						width: 100%;
					}
				}
				&:hover ul {
					display: block;
				}
			}
		}

	}
}
footer {
	text-align: center;
	padding: 40px;
}

.sticky
{
	position: fixed;
	top: 0;
	left: 0;
}

.title
{
	padding: 15px;
}
